@font-face {
  font-family: 'Archivo Black', sans-serif;
  display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
}

@font-face {
  font-family: font-family: 'Open Sans', sans-serif;
  display: swap;
  src:  url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans&display=swap')
}
