.main-nav {
  background-color: var(--color-primary);
  color: white;
  min-height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
 }

 .nav-item {
  display: flex;
  gap: var(--space-m);
  align-items: center;
  /* color: var(--color-light); */
 }

.main-nav h1 {
  color: white;
 }
