.main-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  background-color: rgb(191, 145, 235);
  min-height: 100px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 3px 12px;
}


.login-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

footer {
  background-color: rgb(191, 145, 235);
  min-height: 60px;
}
